.container{
	width: 100%;
}

.textPrimary{
	color: #00a8ff;
}

.center{
	text-align: center;
}

.mainInput{
	padding: 10px;
	border: 1px solid rgb(116, 116, 116, 0.5);
	border-radius: 200px;
	width: 30%;
	font-weight: bold;
	outline: none;
	margin: 5px;
}

